<a href="https://colab.research.google.com/github/jaeha-jang/jaeha.github.io/blob/master/Untitled47.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
d=pd.DataFrame({'date':['2019-01-03','2021-11-22','2023-01-05'],'name':['J','Y','O']})
print(d.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    3 non-null      object
 1   name    3 non-null      object
dtypes: object(2)
memory usage: 176.0+ bytes
         date name
0  2019-01-03    J
1  2021-11-22    Y
2  2023-01-05    O

In [ ]:
d['date']=pd.to_datetime(d.date, format='%Y-%m-%d')
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    3 non-null      datetime64[ns]
 1   name    3 non-null      object
dtypes: datetime64[ns](1), object(1)
memory usage: 176.0+ bytes
        date name
0 2019-01-03    J
1 2021-11-22    Y
2 2023-01-05    O

In [ ]:
d.set_index(keys=['date'],inplace=True)
print(d)

           name
date
2019-01-03    J
2021-11-22    Y
2023-01-05    O

In [ ]:
import numpy as np

d=pd.DataFrame({'date':['2019-01-03','2021-11-22','2021-12-01','2023-01-05'],'x1':[0.1, 2.0, np.nan, 1.2]})

d['date']=pd.to_datetime(d.date, format='%Y-%m-%d')
d.set_index(keys=['date'], inplace=True)
print(d.isnull().sum())
print(d)

x1    1
dtype: int64
             x1
date
2019-01-03  0.1
2021-11-22  2.0
2021-12-01  NaN
2023-01-05  1.2

In [ ]:
d=d.fillna(method='ffill')
print(d)

             x1
date
2019-01-03  0.1
2021-11-22  2.0
2021-12-01  2.0
2023-01-05  1.2

<ipython-input-5-718d4aeedd0d>:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  d=d.fillna(method='ffill')

In [ ]:
d=d.dropna()
print(d)

             x1
date
2019-01-03  0.1
2021-11-22  2.0
2021-12-01  2.0
2023-01-05  1.2

In [ ]:
d=d.interpolate()
print(d)

             x1
date
2019-01-03  0.1
2021-11-22  2.0
2021-12-01  2.0
2023-01-05  1.2

In [ ]:
d=pd.DataFrame({'date':['2019-01-03','2021-11-22','2021-12-01','2023-01-05'],'x1':[0.1, 2.0, 1.6, 1.2]})

d['date']=pd.to_datetime(d.date, format='%Y-%m-%d')
d.set_index(keys=['date'], inplace=True)
print(d.index)

DatetimeIndex(['2019-01-03', '2021-11-22', '2021-12-01', '2023-01-05'], dtype='datetime64[ns]', name='date', freq=None)

In [ ]:
print(d)
d2=d.asfreq('Y',method='ffill')
print(d2)

             x1
date
2019-01-03  0.1
2021-11-22  2.0
2021-12-01  1.6
2023-01-05  1.2
             x1
date
2019-12-31  0.1
2020-12-31  0.1
2021-12-31  1.6
2022-12-31  1.6

<ipython-input-9-31b4af4ad8bb>:2: FutureWarning: 'Y' is deprecated and will be removed in a future version, please use 'YE' instead.
  d2=d.asfreq('Y',method='ffill')

In [ ]:
d=pd.DataFrame({'date':['2019-01-06','2021-01-13','2021-01-20','2021-01-27','2021-02-03'],'x1':[5,4,3,2,7]})

d['date']=pd.to_datetime(d.date)
d.set_index(keys=['date'], inplace=True)
print("원본")
print('=='*20)
print(d)
print('=='*20)
tmp=d.rolling(1).mean()
print(tmp)
print()
print('=='*20)
tmp=d.rolling(2).mean()
print(tmp)

원본
========================================
            x1
date
2019-01-06   5
2021-01-13   4
2021-01-20   3
2021-01-27   2
2021-02-03   7
========================================
             x1
date
2019-01-06  5.0
2021-01-13  4.0
2021-01-20  3.0
2021-01-27  2.0
2021-02-03  7.0

========================================
             x1
date
2019-01-06  NaN
2021-01-13  4.5
2021-01-20  3.5
2021-01-27  2.5
2021-02-03  4.5

In [ ]:
d=pd.DataFrame({'date':['2019-01-06','2021-01-13','2021-01-20','2021-01-27','2021-02-03'],'x1':[5,4,3,2,7]})

d['date']=pd.to_datetime(d.date)
d.set_index(keys=['date'], inplace=True)
print("원본")
print('=='*20)
print(d)
y_diff=d.diff()
y_diff.columns=['diff']
tmp=pd.concat([d,y_diff],axis=1)
print('=='*20)
print(tmp)

원본
========================================
            x1
date
2019-01-06   5
2021-01-13   4
2021-01-20   3
2021-01-27   2
2021-02-03   7
========================================
            x1  diff
date
2019-01-06   5   NaN
2021-01-13   4  -1.0
2021-01-20   3  -1.0
2021-01-27   2  -1.0
2021-02-03   7   5.0

In [ ]:
d=pd.DataFrame({'date':['2019-01-06','2021-01-13','2021-01-20','2021-01-27','2021-02-03'],'x1':[5,4,3,2,7]})

d['date']=pd.to_datetime(d.date)
d.set_index(keys=['date'], inplace=True)
print("원본")
print('=='*20)
print(d)
print('=='*20)
d['shift']=d['x1'].shift(2)
print(d)
print('=='*20)
d=d.fillna(method='bfill')
print(d)

원본
========================================
            x1
date
2019-01-06   5
2021-01-13   4
2021-01-20   3
2021-01-27   2
2021-02-03   7
========================================
            x1  shift
date
2019-01-06   5    NaN
2021-01-13   4    NaN
2021-01-20   3    5.0
2021-01-27   2    4.0
2021-02-03   7    3.0
========================================
            x1  shift
date
2019-01-06   5    5.0
2021-01-13   4    5.0
2021-01-20   3    5.0
2021-01-27   2    4.0
2021-02-03   7    3.0

<ipython-input-12-ccecb2af1bc4>:12: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  d=d.fillna(method='bfill')

In [ ]:
import pandas as pd

df = pd.DataFrame({'color': ['red', 'blue', 'green', 'blue', 'red']})
one_hot = pd.get_dummies(df['color']).astype(int)
print(one_hot)

   blue  green  red
0     0      0    1
1     1      0    0
2     0      1    0
3     1      0    0
4     0      0    1